process {
    params.threads = 12
}

params {
    // input options
    ref_genomes_list = null     
    accessions_list = null
    fastq_dir = null
    ref_genomes_dir = null
    ani_threshold = 95


    // output options
    outdir = null
}

profiles {
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false

    }

    conda {
        docker.enabled = false
        conda.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
    }
}